@media screen and (min-width:768px){
    .main{
        .nosotros{
            .contenedor{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                .contenedor-subtitulo{
                    margin-left: 0;
                    h2{
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}