@media screen and (min-width:961px){
    .main{
        .entrevistas{
            .contenedor{
                .contenedor-titulo{
                    margin-top: 64px;
                    margin-left: 100px;
                    h2{
                        font-size: 48px;
                        line-height: 62px;
                    }
                }
                .contenedor-imagenes{
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: minmax(364px, 364px) minmax(364px, 364px);
                    .imagen{
                        img{
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }
}