* {
  margin: 0;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  font-size: 16px;
}

.header {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 44px;
  z-index: 10;
}

.header .contenedor {
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contenedor .logo {
  width: 1.5em;
  height: 1.5em;
  margin: 10px 16px;
}

.header .contenedor #btn-menu {
  display: none;
}

.header .contenedor label i {
  font-size: 1.125em;
  line-height: 0.75em;
  margin: 16px 19px;
  color: #060A24;
}

.header .contenedor .btn-x {
  display: none;
}

.header .contenedor .menu {
  position: absolute;
  top: 44px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: #0000EC;
  width: 100%;
  height: 224px;
}

.header .contenedor .menu ul li a {
  display: inline-block;
  padding: 16px 100% 8px 16px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'ibm plex mono';
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .contenedor .menu ul li a:hover {
  color: #00F3BB;
  -webkit-text-decoration: line-through #00F3BB;
          text-decoration: line-through #00F3BB;
}

.header .contenedor .menu ul li a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

.header .contenedor #btn-menu:checked ~ .menu {
  margin: 0;
}

.header .contenedor #btn-menu:not(:checked) ~ .menu {
  margin-left: -100%;
}

.header .contenedor #btn-menu:checked ~ .btn-x {
  display: block;
}

.header .contenedor #btn-menu:checked ~ .btn-bars {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .contenedor {
    font-size: 18px;
  }
}

@media screen and (min-width: 961px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
  }
  .header .contenedor {
    font-size: 16px;
  }
  .header .contenedor .logo {
    width: 2.25rem;
    height: 2.25rem;
    z-index: 5;
    margin: 22px 100px;
  }
  .header .contenedor label {
    display: none;
  }
  .header .contenedor .btn-bars {
    display: none;
    visibility: hidden;
  }
  .header .contenedor .btn-x {
    display: none;
    visibility: hidden;
  }
  .header .contenedor .menu {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 80px;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header .contenedor .menu ul {
    margin-top: 26px;
    margin-right: 100px;
    margin-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .contenedor .menu ul li a {
    color: #060A24;
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin-left: 48px;
    font-family: 'ibm plex mono';
    font-weight: 400;
    letter-spacing: 0;
  }
}

.main .titulo .contenedor {
  font-size: 16px;
}

.main .titulo .contenedor .contenedor-titulo {
  margin-top: 29px;
  margin-left: 16px;
}

.main .titulo .contenedor .contenedor-titulo h1 {
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  letter-spacing: 0;
  font-family: 'ibm plex sans';
  font-weight: 400;
}

.main .titulo .contenedor .contenedor-titulo h1 .world {
  -webkit-text-decoration: line-through #060A24;
          text-decoration: line-through #060A24;
}

.main .titulo .contenedor .contenedor-descripcion {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.main .titulo .contenedor .contenedor-descripcion p {
  font-size: 0.875em;
  line-height: 1.375em;
  font-family: 'ibm plex mono';
  font-weight: 400;
  letter-spacing: 0;
}

.main .titulo .contenedor .contenedor-descripcion-desktop {
  display: none;
}

.main .titulo .contenedor .contenedor-descripcion-desktop p {
  font-size: 0.875em;
  line-height: 1.375em;
  font-family: 'ibm plex mono';
  font-weight: 400;
  letter-spacing: 0;
}

.main .titulo .contenedor .btn-conoce-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 36px 16px 0 16px;
}

.main .titulo .contenedor .btn-conoce-mas .boton {
  background: #00F3BB;
}

.main .titulo .contenedor .btn-conoce-mas .boton a {
  font-family: 'ibm plex mono';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  padding: 13px 96px;
  display: inline-block;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.main .titulo .contenedor .btn-conoce-mas .boton a:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .main .titulo .contenedor {
    font-size: 18px;
  }
  .main .titulo .contenedor .contenedor-titulo h1 br {
    display: none;
  }
}

@media screen and (min-width: 961px) {
  .main .titulo .contenedor {
    font-size: 16px;
  }
  .main .titulo .contenedor .contenedor-titulo {
    margin-top: 90px;
    margin-left: 100px;
  }
  .main .titulo .contenedor .contenedor-titulo h1 {
    font-size: 64px;
    line-height: 84px;
    font-family: 'ibm plex sans';
    font-weight: 400;
  }
  .main .titulo .contenedor .contenedor-titulo h1 .punto {
    color: #0000EC;
    font-size: 64px;
  }
  .main .titulo .contenedor .contenedor-descripcion {
    display: none;
  }
  .main .titulo .contenedor .contenedor-descripcion-desktop {
    display: block;
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 16px;
    line-height: 24px;
    color: #060A24;
  }
  .main .titulo .contenedor .btn-conoce-mas {
    margin-top: 56px;
    margin-left: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton {
    width: 226px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton a {
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    padding: 16px 59px;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
  }
}

@media screen and (min-width: 1281px) {
  .main .titulo .contenedor .contenedor-titulo {
    margin-top: 120px;
    margin-left: 200px;
  }
  .main .titulo .contenedor .contenedor-titulo h1 {
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 84px;
  }
  .main .titulo .contenedor .contenedor-descripcion-desktop {
    margin-top: 0;
    margin-left: 200px;
  }
  .main .titulo .contenedor .contenedor-descripcion-desktop p {
    font-size: 16px;
    line-height: 24px;
    color: #060A24;
    letter-spacing: 0;
  }
  .main .titulo .contenedor .btn-conoce-mas {
    margin-left: 200px;
    margin-top: 56px;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton {
    width: 226px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton a {
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    padding: 16px 59px;
  }
  .main .titulo .contenedor .btn-conoce-mas .boton a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}

.main .episodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 4%);
          clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 4%);
  height: 1203.5px;
  margin-top: 24px;
  width: 100%;
}

.main .episodios .contenedor .contenedor-subtitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .episodios .contenedor .contenedor-subtitulo .subtitulo {
  margin-left: 16px;
  margin-top: 64px;
}

.main .episodios .contenedor .contenedor-subtitulo .subtitulo h2 {
  font-family: 'ibm plex sans';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.main .episodios .contenedor .contenedor-episodios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(298px, 584px);
      grid-template-columns: minmax(298px, 584px);
  -ms-grid-rows: 225px 225px 225px 225px;
      grid-template-rows: 225px 225px 225px 225px;
  gap: 11px;
  margin-top: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .episodios .contenedor .contenedor-episodios .episodio {
  margin-left: 9px;
  margin-right: 9px;
}

.main .episodios .contenedor .contenedor-episodios .episodio iframe {
  width: 100%;
  min-width: 298px;
  max-width: 584px;
  border: 0;
  color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .main .episodios {
    height: 750px;
  }
  .main .episodios .contenedor .contenedor-episodios {
    -ms-grid-columns: minmax(298px, 584px) minmax(298px, 584px);
        grid-template-columns: minmax(298px, 584px) minmax(298px, 584px);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 18px;
  }
}

@media screen and (min-width: 961px) {
  .main .episodios {
    margin-top: 5px;
    height: 1042.6px;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
            clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
  }
  .main .episodios .contenedor .contenedor-subtitulo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .episodios .contenedor .contenedor-subtitulo .subtitulo {
    margin-left: 100px;
    margin-top: 186px;
  }
  .main .episodios .contenedor .contenedor-subtitulo .subtitulo h2 {
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0;
  }
  .main .episodios .contenedor .contenedor-episodios {
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: 36px;
  }
}

@media screen and (min-width: 1281px) {
  .main .episodios {
    height: 1043px;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
            clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
  }
  .main .episodios .contenedor .contenedor-subtitulo .subtitulo {
    margin-left: 200px;
    margin-top: 186px;
  }
  .main .episodios .contenedor .contenedor-subtitulo .subtitulo h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .main .episodios .contenedor .contenedor-episodios {
    margin-top: 26px;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 72px;
    -ms-grid-columns: minmax(584px, auto) minmax(584px, auto);
        grid-template-columns: minmax(584px, auto) minmax(584px, auto);
    -ms-grid-rows: 232px 232px;
        grid-template-rows: 232px 232px;
  }
}

.main .nosotros .contenedor .contenedor-imagen {
  margin-top: -98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .nosotros .contenedor .contenedor-imagen img {
  width: 22.5em;
  height: 32.4375em;
  z-index: 5;
}

.main .nosotros .contenedor .contenedor-subtitulo {
  margin: 27px 16px 0px 16px;
}

.main .nosotros .contenedor .contenedor-subtitulo h2 {
  font-family: 'ibm plex sans';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
  color: #060A24;
}

.main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto {
  margin-top: 8px;
}

.main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto p {
  font-family: 'ibm plex mono';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #060A24;
}

@media screen and (min-width: 768px) {
  .main .nosotros .contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo {
    margin-left: 0;
  }
  .main .nosotros .contenedor .contenedor-subtitulo h2 br {
    display: none;
  }
}

@media screen and (min-width: 961px) {
  .main .nosotros .contenedor .contenedor-subtitulo {
    margin-right: 100px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .subtitulo {
    margin-top: 20.4px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .subtitulo h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto {
    margin-top: 24px;
    width: 464px;
    height: 204px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .main .nosotros .contenedor .contenedor-imagen {
    margin-bottom: -20px;
  }
  .main .nosotros .contenedor .contenedor-imagen img {
    width: 456px;
    height: 660px;
    margin-top: -40px;
  }
}

@media screen and (min-width: 1281px) {
  .main .nosotros .contenedor {
    grid-gap: 62.1px;
  }
  .main .nosotros .contenedor .contenedor-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 200px;
    margin-bottom: -60px;
  }
  .main .nosotros .contenedor .contenedor-imagen img {
    width: 457px;
    height: 660px;
    margin-top: -40px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo {
    margin-right: 200px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .subtitulo {
    margin-top: 20.4px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .subtitulo h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto {
    margin-top: 24px;
    width: 464px;
    height: 204px;
  }
  .main .nosotros .contenedor .contenedor-subtitulo .contenedor-texto p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.main .entrevistas .contenedor .contenedor-titulo {
  margin-top: 54px;
  margin-left: 16px;
}

.main .entrevistas .contenedor .contenedor-titulo h2 {
  font-family: 'ibm plex sans';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
  color: #060A24;
}

.main .entrevistas .contenedor .contenedor-imagenes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 480px);
      grid-template-columns: minmax(320px, 480px);
  -ms-grid-rows: minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto);
      grid-template-rows: minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto) minmax(243px, auto);
}

.main .entrevistas .contenedor .contenedor-imagenes .imagen img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .main .entrevistas .contenedor .contenedor-imagenes {
    -ms-grid-columns: minmax(300px, 480px) minmax(300px, 480px);
        grid-template-columns: minmax(300px, 480px) minmax(300px, 480px);
    -ms-grid-rows: minmax(364px, 364px) minmax(364px, 364px) minmax(364px, 364px);
        grid-template-rows: minmax(364px, 364px) minmax(364px, 364px) minmax(364px, 364px);
  }
}

@media screen and (min-width: 961px) {
  .main .entrevistas .contenedor .contenedor-titulo {
    margin-top: 64px;
    margin-left: 100px;
  }
  .main .entrevistas .contenedor .contenedor-titulo h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .main .entrevistas .contenedor .contenedor-imagenes {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: minmax(364px, 364px) minmax(364px, 364px);
        grid-template-rows: minmax(364px, 364px) minmax(364px, 364px);
  }
  .main .entrevistas .contenedor .contenedor-imagenes .imagen img {
    vertical-align: top;
  }
}

@media screen and (min-width: 1281px) {
  .main .entrevistas .contenedor .contenedor-titulo {
    margin-left: 200px;
  }
}

.main .temas .contenedor .contenedor-titulo {
  margin-top: 48px;
  margin-left: 16px;
  margin-right: 16px;
}

.main .temas .contenedor .contenedor-titulo h2 {
  font-family: 'ibm plex sans';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  letter-spacing: 0;
}

.main .temas .contenedor .contenedor-topicos {
  position: relative;
  top: -12px;
}

.main .temas .contenedor .contenedor-topicos .topico {
  width: 100%;
  margin-top: 36px;
}

.main .temas .contenedor .contenedor-topicos .topico .thumb {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .temas .contenedor .contenedor-topicos .topico .thumb img {
  position: relative;
  top: 13px;
}

.main .temas .contenedor .contenedor-topicos .topico .descripcion {
  position: relative;
  top: 13px;
  margin-left: 16px;
  margin-right: 16px;
}

.main .temas .contenedor .contenedor-topicos .topico .descripcion p {
  text-align: center;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  font-family: 'ibm plex sans';
  font-weight: 600;
  letter-spacing: 0;
  color: #060A24;
}

.main .temas .contenedor .contenedor-topicos .topico .descripcion p br {
  display: none;
}

@media screen and (min-width: 961px) {
  .main .temas .contenedor .contenedor-titulo {
    margin-left: 100px;
    margin-top: 64px;
  }
  .main .temas .contenedor .contenedor-titulo h2 {
    font-size: 48px;
    line-height: 62px;
    color: #060A24;
    letter-spacing: 0;
  }
  .main .temas .contenedor .contenedor-topicos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
  }
  .main .temas .contenedor .contenedor-topicos .topico {
    margin-top: 56px;
  }
  .main .temas .contenedor .contenedor-topicos .topico .thumb img {
    bottom: 13px;
  }
  .main .temas .contenedor .contenedor-topicos .topico .descripcion {
    top: 16px;
  }
}

@media screen and (min-width: 1281px) {
  .main .temas .contenedor .contenedor-titulo {
    margin-left: 200px;
    margin-right: 200px;
  }
  .main .temas .contenedor .contenedor-topicos {
    margin-left: 200px;
    margin-right: 200px;
  }
  .main .temas .contenedor .contenedor-topicos .topico .descripcion p br {
    display: inline;
  }
}

.main .novedades {
  height: 341px;
  margin-top: 42px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 14%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 14%);
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.main .novedades .contenedor .contenedor-titulo {
  position: relative;
  top: 64px;
}

.main .novedades .contenedor .contenedor-titulo h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: 'ibm plex sans';
  font-weight: 400;
  letter-spacing: 0;
  color: #ffffff;
  text-align: center;
}

.main .novedades .contenedor .contenedor-boton {
  position: relative;
  top: 58px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}

.main .novedades .contenedor .contenedor-boton .boton {
  background: #00F3BB;
}

.main .novedades .contenedor .contenedor-boton .boton a {
  display: inline-block;
  padding: 13px 43px;
  font-size: 16px;
  line-height: 22px;
  color: #060A24;
  font-family: 'ibm plex mono';
  font-weight: 500;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.main .novedades .contenedor .contenedor-boton .boton a:hover {
  color: #ffffff;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

@media screen and (min-width: 961px) {
  .main .novedades {
    position: relative;
    top: 34px;
    height: 518px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 33%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 33%);
  }
  .main .novedades .contenedor .contenedor-titulo {
    top: 213px;
    position: relative;
  }
  .main .novedades .contenedor .contenedor-titulo h2 {
    font-size: 48px;
    line-height: 62px;
    color: #ffffff;
  }
  .main .novedades .contenedor .contenedor-titulo h2 br {
    display: none;
  }
  .main .novedades .contenedor .contenedor-boton {
    position: relative;
    top: 206px;
    margin-top: 36px;
  }
  .main .novedades .contenedor .contenedor-boton .boton a {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 59px;
  }
}

.footer .contenedor .contenedor-texto {
  margin-top: 24px;
}

.footer .contenedor .contenedor-texto p {
  font-family: 'ibm plex mono';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  text-align: center;
}

.footer .contenedor .contenedor-redes-sociales {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contenedor .contenedor-redes-sociales .redes {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contenedor .contenedor-redes-sociales .redes a {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #060A24;
}

@media screen and (min-width: 981px) {
  .footer {
    height: 100px;
  }
  .footer .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 36px;
  }
  .footer .contenedor .contenedor-texto {
    margin-left: 100px;
  }
  .footer .contenedor .contenedor-texto p {
    font-size: 16px;
    line-height: 28px;
  }
  .footer .contenedor .contenedor-redes-sociales {
    margin-right: 100px;
  }
  .footer .contenedor .contenedor-redes-sociales .redes {
    width: 196px;
  }
  .footer .contenedor .contenedor-redes-sociales .redes a {
    font-size: 18px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=estilos.css.map */