@media screen and (min-width:1281px){
    .main{
        .temas{
            .contenedor{
                .contenedor-titulo{
                    margin-left: 200px;
                    margin-right: 200px;
    
                }
                .contenedor-topicos{
                    margin-left: 200px;
                    margin-right: 200px;
                    .topico{
                        .descripcion{
                            p{
                                br{
                                    display: inline;
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }
}